{% extends "todointerfaz.html" %}
{% block titulo %}
Agregar telefono
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="colums">
      <div class="column">
        <h3 class="is-size-3">Clientes</h3>
        <!--Falta el metodo-->
        <form action="{{ url_for('insertarcliente') }}" method="POST" >
          <div class="form-group row mb-4">
            <div class="col-sm-6">
              <label>Nombre del cliente</label>
              <input type="text" class="form-control" name="nombre_cliente">
            </div>
            <div class="col-sm-6">
              <label>Numero de telefono</label>
              <input type="text" class="form-control" name="numero_telefono">
            </div>
            <div class="col-sm-6">
              <label>Direccion</label>
              <input type="text" class="form-control" name="direccion">
            </div>
          </div>
          <div class="col-sm-6">
            <label>estado</label>
            <input type="text" class="form-control" name="estado">
          </div>
        </div>
          
          <div class="form-group row mb-4">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary btn-group-lg active">Agregar</button>
              <a href="{{url_for('mostrartodoslosclientes')}}" class="btn btn-primary btn-group-lg active">Volver</a>
            </div>
          </div>
          <table class="table table-hover table-striped table-bordered" id="example">
            <thead style="background-color: rgb(202, 199, 194); color: #121213;">
              <th>Id</th>
              <th>Nombre Cliente</th>
              <th>Numero de Telefono</th>
              <th>Direccion</th>
              <th>Estado</th>
              
            </thead>
            <tbody>
              {% for mostrartodosloscliente in mostrartodoslosclientesinsert %}
              <tr>
                <td>{{mostrartodosloscliente[0]}}</td>
                <td>{{mostrartodosloscliente[1]}}</td>
                <td>{{mostrartodosloscliente[2]}}</td>
                <td>{{mostrartodosloscliente[3]}}</td>
                <td>{{mostrartodosloscliente[4]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </section>
{% endblock %}