{% extends "todointerfaz.html" %}
{% block titulo %}
Agregar telefono
{% endblock %}
{% block contenido %}
<section class="section">
  <div class="colums">
    <div class="column">
      <h3 class="is-size-3">Telefono</h3>
      <form action="{{ url_for('insert') }}" method="POST" >
        <div class="form-group row mb-4">
          <div class="col-sm-6">
            <label>Nombre del Telefono</label>
            <input type="text" class="form-control" name="nombre_telefono">
          </div>
          <div class="col-sm-6">
            <label>Marca</label>
            <input type="text" class="form-control" name="marca">
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-sm-6">
            <label>Descripcion</label>
            <input type="text" class="form-control" name="descripcion">
          </div>
          <div class="col-sm-6">
            <label>Precio</label>
            <input type="text" class="form-control" name="precio">
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-sm-4">
            <label>Existencias</label>
            <input type="text" class="form-control" name="existencias">
          </div>
          <div class="col-sm-4">
            <label>Proveedor</label>
            <div class="form-group">
              <select name="proveedor" id="search_category_id" class="form-control">
                <option value="" selected="selected">selecione el proveedor</option>
                {% for proveedor in proveedores %}
                <option value='{{proveedor[0]}}'>{{proveedor[1]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <label>Estado</label>
            <input type="text" class="form-control" name="estado">
          </div>
        </div>
        <div class="form-group row mb-4">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-group-lg active">Agregar</button>
            <a href="{{url_for('tablatelefonos')}}" class="btn btn-primary btn-group-lg active">Volver</a>
          </div>
        </div>
        <table class="table table-hover table-striped table-bordered" id="example">
          <thead style="background-color: rgb(202, 199, 194); color: #121213;">
            <th>Id</th>
            <th>Nombre Telefono</th>
            <th>Marca</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Existencias</th>
            <th>Proveedor</th>
            <th>Estado</th>
          </thead>
          <tbody>
            {% for tablatelefono in tablatelefonos %}
            <tr>
              <td>{{tablatelefono[0]}}</td>
              <td>{{tablatelefono[1]}}</td>
              <td>{{tablatelefono[2]}}</td>
              <td>{{tablatelefono[3]}}</td>
              <td>{{tablatelefono[4]}}</td>
              <td>{{tablatelefono[5]}}</td>
              <td>{{tablatelefono[6]}}</td>
              <td>{{tablatelefono[7]}}</td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</section>

{% endblock %}