{% extends "todointerfaz.html" %}
{% block titulo %}
Editar Telefono
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar Clientes</h3>
            <form action="{{url_for('actualizar_cliente')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id_clientes" value="{{obtenclien_id[0]}}">
                <div class="form-group row mb-4">
                    <div class="col-sm-4">
                        <label for="nombre_cliente">Nombre Cliente:</label>
                        <input value="{{obtenclien_id[1]}}" required type="text" class="form-control" placeholder="" name="nombre_cliente" id="nombre_cliente">
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-4">
                        <label for="numero_telefono">Numero Telefonico:</label>
                        <input value="{{obtenclien_id[2]}}" required type="text" class="form-control" placeholder="" name="numero_telefono" id="numero_telefono">
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-4">
                        <label for="direccion">Direccion:</label>
                        <input value="{{obtenclien_id[3]}}" required type="text" class="form-control" placeholder="" name="direccion" id="direccion">
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-4">
                        <label for="direccion">Estado:</label>
                        <input value="{{obtenclien_id[4]}}" required type="text" class="form-control" placeholder="" name="estado" id="estado">
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary btn-group-lg active">Guardar</button>
                        <a href="{{url_for('mostrartodoslosclientes')}}" class="btn btn-primary btn-group-lg active">Volver</a>
                    </div>
                </div>
                
                
                
                
                
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}